@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: hsl(215, 51%, 70%);
  width: 450px;
  height: 700px;
  border-radius: 15px;
}

.box .discription img {
  width: 400px;
  height: 400px;
  display: block;
  margin: 1.5em auto;
  border-radius: 10px;
}

.discription h2 {
  margin-left: 30px;
}





.Originator img {
  width: 3em;
}