@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: hsl(216, 50%, 16%);
  width: 450px;
  height: 750px;
  border-radius: 15px;
}

.box .discription img {
  width: 400px;
  height: 400px;
  display: block;
  margin: 1em auto;
  border-radius: 10px;
}

.box .discription h2 {
  color: white;
  margin: 30px 0 20px 28px;
}

.box .discription p {
  color: hsl(216, 19%, 30%);
  width: 90%;
  margin: 0 0 15px 28px;
  margin-bottom: 15px;
  line-height: 1.6;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
}

.box .rote-card {
  width: 90%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 24px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}



.box .rote-card .price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 35px 3px;
}

.box .rote-card .price img {
  display: block;
  margin-right: 7px;
}

.box .rote-card .price p {
  font-weight: 500;
  color: hsl(178, 100%, 50%);
}

.box .rote-card .duration {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px 35px 0 ;
}

.box .rote-card .duration p {
  color: hsl(216, 19%, 30%);
  margin-left: 5px;
}

.box .Originator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 40px 18px;
  margin-left: 18px;
}

.box .Originator p {
  color: hsl(216, 19%, 30%);
  
}

.box .Originator a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.Originator img {
  width: 2.5em;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 15px;
}